<% provide(:title, "About") %>
<h1>Keep Calm and Eat Ramen</h1>
<h3>Here at Ramen Store, we’re selling a large variety of quality Ramen from many different countries!</h3>

<h3>​You can see & smell our delicious ramen being cooked and prepared when you just put them in a pot of boiling water, in front of your eyes.</h3>

<h3>​We aim to provide an impeccable service & value for our customers, led by our very friendly staff. ​</h3>
<br><br><br><br><br><br><br>
<p>Please note that our goods are delivered to you through the use of third party delivery services and we cannot gurantee that the goods will arrive to you</p>


