<% provide(:title, "About") %>
<h1>Keep Calm and Eat Ramen</h1>

<h5>The Ramen Store is a brand new business selling a large variety of instant noodles.<br>
Instant noodles are one of the most popular snacks across Asia which has now taken over the world.<br>
<br>
As instant noodle enthusiasts, we are delighted to provide these foods to you! ​We aim to provide an <br> impeccable service & value for our customers, led by our very friendly staff. ​</h5>
<br><br><br><br><br><br><br>

<p>Please note that our goods are delivered to you through the use of third party delivery services and we cannot gurantee that the goods will arrive to you.</p>


