<% provide(:title, "Contact Us") %>
<h1>Contact us at below details!</h1>
<h5>Phone: 0082-RAMEN-STORE</h5>
<h5>Address: </h5>
<p>Ramen Store</p>
<p>Unit 1</p>
<p>Business Park</p>
<p>Ramenstown</p>
<p>Ireland</p>

