<% provide(:title, "Home") %>
<div class="mainCont">
    <div id="mainCont1">
        <h1>Welcome to the Ramen Store!</h1>
        <h3>We sell instant Ramen from many different countries</h3>
        <h3>And all at reasonable price!!!</h3>
    </div>

    <div id="mainCont2">
        <%=render 'layouts/categories'%>
    </div>

</div>