<% provide(:title, "Home") %>
<div class="mainCont">

<h1>Home</h1>
<p>Welcome to the Ramen Store!</p>
<p>We sell instant Ramen from many different countries</p>
<p>All at reasonable price!!!</p>
<br>


<%=render 'layouts/categories'%>

</div>