/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 headSec {
    min-height:10px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom:10px;
    overflow: auto;
   
   }
   .headSec {
    background: url("/assets/sites/bar.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    min-height:10px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom:10px;
    overflow: auto;
   }
   .headSec h1 {
    color: #dfe208ec;
    font-size: 80px;
    padding: 15px;
   
   }
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(236, 233, 47);
   }

   li {float:left;}
   li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
   }
   .mainCont {
   
    margin: auto;
    width:80%;
    border: 0px solid #b3e0ff;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
   }
   .welcomeIm {width: 30%;}
   .foot {
    min-height: 80px;
    background-color: rgb(236, 233, 47);
    width: 100%;
    margin-top: 10px;
    overflow: auto;
   
   
   }
   .container {
    background: url("/assets/sites/ramen1.jpg");
     background-repeat:repeat;
     background-position:bottom right;
     background-color: orange;
     width: 100%;
     min-height: 700px;
    }
    
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
       }
       input[type=submit] {
        width: 100%;
        background-color: #f0721e;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
       }
       input[type=submit]:hover {
        background-color: #45a049;
       }
