
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
   }
   #customers td, #customers th {
    border: 2px solid rgb(0, 0, 0);
    padding: 8px;
   }
   #customers tr:nth-child(odd){background-color: #f0e984;}
   #customers tr:nth-child(even){background-color: #ffae00;}
   #customers tr:hover {background-color: #ddd;}
   #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
   }

